*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

/*utilities*/
.container-wide{
    width: 97%;
    margin: 0 auto;

}

.container-medium{
    width: 80%;
    margin: 0 auto;

}

.container-small{
    width: 75%;
    margin: 0 auto;
}



#logo{
    vertical-align: middle;
    display: inline-block;
}

.btn{
    color: white;
    background-color: #0061FF;
    padding: 7px 20px;
    text-decoration: none;
}

.jumbo-w40 .btn{
    margin-top: 30px;
}
.nav-bar{
    display: inline-block;
}

.nav-bar a{
    text-decoration: none;
    display: inline block;
    vertical-align: middle;
    margin: 0 30px;
    font-size: 16px;
}

.header-right{
    text-align: right;
}

.jumbo{
    width: 100%;
    height: 800px;
    background-color: #B4D0E7;
    
}



/*text utilities*/
.jumbo .container-medium h1{
    font-size: 5rem;
    font-weight: bold 700;
    padding-top: 100px;
    padding-bottom: 50px;
    
}

.jumbo-w40 p{
    padding-right: 40%;
    font-weight: 500;
    padding-bottom: 30px;

}


/*colonne float*/
.col{
    float: left;
}

.col.header-left,
.col.header-right{
    width: 50%;
    height: 80px;
    line-height: 80px;
}

.jumbo-w40{
    width: 40%;
}

.jumbo-60{
    width: 60%;
}


/*immagini*/

.jumbo-w60 img{
    max-width: 100%;
    height: 510px;

}