*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

/*utilities*/
.container-wide{
    width: 97%;
    margin: 0 auto;

}

.container-medium{
    width: 80%;
    margin: 0 auto;

}

.container-small{
    width: 65%;
    margin: 0 auto;
}

.fake-btn{
    text-decoration: none;
    padding-top: 70px;
    padding-bottom: 40px;
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 20px;
}


.fake-radio{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    content: " ";
    cursor: pointer;
}

.fake-radio{
    border: 5px solid #0061FF
}

.fake-radio-gray{
    border: 2px solid gray;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    content: " ";
    cursor: pointer;
}

#logo{
    vertical-align: middle;
    display: inline-block;
}

.btn{
    color: white;
    background-color: #0061FF;
    padding: 7px 20px;
    text-decoration: none;
}

.btn-large{
    color: white;
    background-color: #0061FF;
    padding: 10px 0px;
    text-decoration: none;
}

.btn-card .btn-large{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

.btn-white{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 1.1rem;
}

.buy-link{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
}

.buy-link a{
    color: #0061FF;
}

.link-black{
    color: black;
    display: inline-block;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;   
}

.jumbo-w40 .btn{
    margin-top: 30px;
}
.nav-bar{
    display: inline-block;
}

.nav-bar a{
    text-decoration: none;
    display: inline block;
    vertical-align: middle;
    font-weight: 200;
    margin: 0 30px;
    font-size: 16px;
}

.header-right{
    text-align: right;
}

.jumbo{
    width: 100%;
    height: 800px;
    background-color: #B4D0E7;
    
}

.dropbox-biss-plane{
    padding-top: 300px;
    height: auto;
}

.section-btn{
    display: block;
}



.card-description ul{
    list-style-type: none;
    padding-top: 40px;
    list-style-image: url();
}

.lista-card ul{
    list-style-type: none;
}

.lista-card ul li,
.card-description ul li{
    padding-top: 20px;
    font-size: 12;
    font-weight: normal;
}


/*text utilities*/
.jumbo .container-medium h1{
    font-size: 5rem;
    font-weight: bold 700;
    padding-top: 100px;
    padding-bottom: 86px;
    
}

.jumbo-w40 p{
    padding-right: 40%;
    font-weight: 500;
    padding-bottom: 30px;

}
.jumbo-w40 h4{
    font-size: 15px;
    font-weight: 400;
    padding-top: 15px;
}

.fa-arrow-down{
    font-size: 40px;
    padding-top: 40px;
}

 h2{
    font-size: 40px;
}

.lista-card li::before{
    color: #0061FF;
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f00c";
}
.sale-banner h3,
.card h3{
    text-align:center;
    font-weight: normal;
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-card h2{
    font-size: 28px;
    font-weight: bold;
}

.main-card h4{
    padding-top: 15px;
}

.main-card p{
    color:gray;
    font-size: 15px;
    padding-top: 10px;
}
.col.w40 h2,
.left-banner h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.left-banner h3{
    text-align: left;
    font-weight: bold;
    border-bottom: none;
    padding-bottom: 30px;
}

.right-banner a{
    text-align: center;
    display: block;
}
.col.w40 p,
.col.w40{
    padding-top: 60px;
}

.col.w40 p{
    padding-top: 5px;
    font-size: 1.1rem;
    line-height: 30px;
    padding-bottom: 30px;
}

.operations h3{
    font-size: 1.2rem;
    padding-bottom: 30px;
}

.operations p{
    font-size: 1.2rem;
    line-height: 1.4rem;
}

/*colonne float*/
.col{
    float: left;
}

.col.header-left,
.col.header-right{
    width: 50%;
    height: 80px;
    line-height: 80px;
}
.w40,
.jumbo-w40{
    width: 40%;
}

.w60,
.jumbo-60{
    width: 60%;
}

.wd-30{
    width: calc(100% / 3);
}

.card{
    border: 1px solid lightgray;
    height: 1000px;
    margin-bottom: 50px;
}

.center-card{
    width: 85%;
    margin: 0 auto;
}

.left-card{
    width: 85%;
    
}

.right-card{
    width: 85%;
    margin-left: auto;
}

.main-card{
    padding: 35px 40px;
}

.sale-banner{
    width: 100%;
    height: 250px;
    border: 1px solid lightgray;
}

.left-banner{
    width: 70%;
    padding: 35px 40px;
    padding-right: 0;
}

.right-banner{
    width: 30%;
    padding-right: 35px;
    padding-top: 40px;
}

.partner-section{
    padding-top: 150px;
}

.section-strumenti-dropbox{
    margin-top: 150px;
    height: auto;
}
.raw-up .wd-30{
    
    height: auto;
}

.raw-up{
    margin-top: 50px;
    margin-bottom: 100px;

}

.card.operations{
    border: none;
}
/*immagini*/

.jumbo-w60 img{
    max-width: 100%;
    height: 510px;
}

#partner-img{
    max-width: 90%;
}

.raw-up .wd-30 img{
    max-width: 100%;
}